---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-8">
    {{ content }}
  </div>
  <div class="col-md-4" >
    <img src="https://avatars.githubusercontent.com/u/5369819?v=4" alt="Contact" width="50%">
    {% if false %}
    <img src="{{ site.github.url }}/assets/img/profile.png" alt="Home" width="50%">
    {% endif %}
  </div>
</div>

{% include repositories.html %}

{% include publications.html %}

<!--<div class="row g-5 mb-5">-->
<!--  <div class="col-md-12">-->
<!--    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates</h3>-->
<!--    {% for post in site.posts %}-->
<!--      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>-->
<!--    {% endfor %}-->
<!--  </div>-->
<!--</div>-->
